# Slybot requirements
numpy
Scrapy
loginform
lxml
dateparser
python-dateutil
jsonschema
six
scrapy-splash
page_finder
chardet
scrapy-utils
w3lib

# scrapely
https://github.com/benquike/scrapely/archive/refs/heads/master.zip