# Slyd requirements
twisted
pyOpenSSL
service_identity
requests>=2.20.0
autobahn
six
chardet
parse
ndg-httpsclient
retrying
mock

# Splash dev
https://github.com/scrapinghub/splash/archive/refs/tags/3.5.0.tar.gz